<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        nav{
            float: right;
        }
        h1{
            margin:20px;
        }
        p{
            margin: 20px;
        }
        span{
            margin: 0 10px;
        }
    </style>
    <nav>
        <span><a href="/home">Home</a></span>
        <span><a href="/about">About</a></span>
        <span><a href="/works">Works</a></span>
    </nav>

    <h1>About</h1>

    <p>Mitski was born as Mitsuki Laycock in Japan on September 27, 1990.
        She is half Japanese-American. She originally went to Hunter College
        to study film, but decided to pursure mussic at SUNY Purchase instead.
        This is when she released her first album Lush in 2012. She has been 
        releasing music ever since. Her music is often described as
        "sad indie girl music", as her music is very emotion-driven. She 
        is a very private person, but we know she lives in Nashville and is vegan.
    </p>
</body>
</html>